:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* line-height: 1.5; */
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-container {
    background-color: #122620;
    width: 900px;
    display: flex;
    margin: 0 auto;
}
.menu-container {
    background-color: #f4ebd0;
    width: 21%;
    flex-grow: 1;
    border: 1px solid white;
    height: 100vh;
}
.recipes-container {
    width: 78%;
    /* flex-grow: 10; */
    border: 1px solid white;
}
.home-btn,
.menu-btn {
    background-color: #d6ad60;
    display: block;
    margin-bottom: 1rem;
    color: #122620;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
    cursor: pointer;
}
.menu-container span {
    font-size: 1.2rem;
}
.home-btn img {
    /* background-color: #fff; */
}
.search-filter-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #f4ebd0;
    padding: 1rem;
}
.search-btn,
.recipe-input {
    background-color: #d6ad60;
    color: #122620;
    border: 1px solid #122620;
    padding: 0.3rem;
    border-radius: 0.4rem;
    font-size: 1rem;
}
.recipe-input:focus {
    outline: none;
}
.search-btn {
    cursor: pointer;
}
.recipe-cards-container {
    border: 1px solid white;
    padding: 0.5rem;
    display: flex;
    align-content: baseline;
    /* justify-content: center; */
    gap: 0.5rem;
    height: 89vh;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.card-recipe {
    width: 158px;
    height: 280px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}
.card-recipe-img {
    width: 100%;
    height: 40%;
}
.card-recipe-details {
    background-color: #d6ad60;
    width: 100%;
    height: 60%;
    color: #122620;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* padding: 0.4rem; */
}
.card-recipe-details .recipe,
.card-title {
    padding: 0;
    margin: 0;
}
.card-info {
    background-color: #b68d40;
    border: 1px solid #122620;
    border-radius: 0.5rem;
    padding: 0.4rem;
    cursor: pointer;
    color: #122620;
}

.card-details {
    width: 100%;
}
.card-details-img {
    width: 250px;
    height: 250px;
}
